version: '2'

services:
  rabbitmq:
    image: rabbitmq:3.7.4
    restart: always
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  bus-config:
    image: liumapp/bus-config:v1.0.0
    restart: always
    container_name: bus-config
    hostname: bus-config
    ports:
        - "7001:7001"
    depends_on:
        - bus-eureka

  bus-eureka:
      image: liumapp/bus-eureka:v1.0.0
      restart: always
      container_name: bus-eureka
      hostname: bus-eureka
      ports:
        - "1234:1234"

  bus-gateway:
      image: liumapp/bus-gateway:v1.0.0
      restart: always
      container_name: bus-gateway
      hostname: bus-gateway
      ports:
        - "2333:2333"

  demo-api-a:
    image: liumapp/demo-api-a:v1.0.0
    restart: always
    container_name: demo-api-a
    hostname: demo-api-a
    ports:
      - "8081:8081"
    depends_on:
      - bus-eureka
      - bus-config

  demo-api-b:
    image: liumapp/demo-api-b:v1.0.0
    restart: always
    container_name: demo-api-b
    hostname: demo-api-b
    ports:
      - "8082:8082"
    depends_on:
      - bus-eureka
      - bus-config

  independent-worker:
    image: liumapp/independent-worker:v1.0.0
    restart: always
    container_name: independent-worker
    hostname: independent-worker
    ports:
      - "8083:8083"
    depends_on:
      - bus-eureka
      - bus-config


