spring:
  application:
    name: bus-config
  cloud:
    config:
      server:
        native:
          search-locations: /usr/local/tomcat/project/spring-cloud-bus-in-docker/config/
        git:
          uri: https://github.com/liumapp/spring-cloud-bus-in-docker/
          search-paths: config
  profiles:
    active: native
server:
  port: 7001

eureka:
  client:
    service-url:
      defaultZone: http://bus-eureka:1234/eureka/

